/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 29, 2016, 4:57:55 PM
    Author     : oscar
*/

#parseRowsInput {
	width:100%;
	height:120px;
}

#mainTabs {
	height:~"calc(100% - 10px)";
}

.jsgrid-cell {
	&.input-field>input {
		width:100%;
	}
	&.chosenViewField>select {
		visibility: hidden;//This is so that the normal SELECT element doesn't show before $().chosen kicks in
		width:100%;
	}
}

#reportsMonthPicker {
	position: absolute;
	z-index: 1;
}